<section class="editor-selector w-full max-w-xl h-[494px]">
  <div class="editor-selector__header w-full px-5 h-11 bg-section-header rounded-section-radius flex">
    <button
      v-for="tab in tabs"
      class="h-11 px-2 font-secondary rounded-tab-radius text-xl text-section-title"
      :class="[isTabSelected(tab) ? 'bg-editor-toolbar' : 'hover:text-editor-t-hover']"
      @click="setSelectedTab(tab)"
    >
      {{ tab }}
    </button>
  </div>
  <div class="editor-wrapper relative">
    <div
      v-for="tab in tabs"
      class="editor-container w-full min-h-[360px] border-4 border-editor-toolbar absolute"
    >
      <code-editor
        v-show="isTabSelected(tab)"
        :class="{'z-10': isTabSelected(tab)}"
        :language="tab.toLowerCase()"
        @updateCode="updateContent"
        @runCode="notifyRunner"
      ></code-editor>    
    </div>
  </div>
</section>
