<footer
  role="contentinfo"
  class="w-full mt-8 py-4 text-app-bg dark:bg-app-bg dark:text-section-border border-t-2 border-section-border"
>
  <div class="max-w-5xl flex flex-col items-center gap-4 mx-auto">
    <div class="">
      Feito com
      <span class="text-violet-900 text-xl">&hearts;</span>
      por Carlos Alves
    </div>
    <div class="space-x-2">
      <a
        href="https://www.linkedin.com/in/carlos-alves-webdev/"
        target="_blank"
        class="dark:hover:text-editor-toolbar hover:text-section-header"
      >
        <vue-feather type="linkedin" />
      </a>
      <a
        href="https://github.com/sameoldcarlos"
        target="_blank"
        class="dark:hover:text-editor-toolbar hover:text-section-header"
      >
        <vue-feather type="github" />
      </a>
    </div>
  </div>
</footer>
