<div class="w-full max-w-5xl bg-section-title dark:bg-app-bg border-b-2 border-section-border mb-4">
  <nav class="container px-6 py-8 mx-auto lg:flex lg:justify-between lg:items-center">
    <div class="flex items-center justify-between">
      <a 
        href="/"
        class="text-4xl font-primary text-app-bg dark:text-section-border lg:text-2xl hover:text-section-header dark:hover:text-editor-toolbar"
      >
        &#60;gambi :code&#62;
      </a>
      <div
        @click="toggleNav"
        class="flex lg:hidden"
      >
        <button
          type="button"
          class="focus:outline-none focus:text-section-header dark:focus:text-editor-toolbar text-app-bg dark:text-section-border hover:text-section-header dark:hover:text-editor-toolbar"
        >
          <vue-feather type="menu" />
        </button>
      </div>
    </div>

    <ul
      :class="showMenu ? 'flex' : 'hidden'"
      class="text-lg flex-col mt-8 space-y-4 lg:flex lg:space-y-0 lg:flex-row lg:items-center lg:space-x-6 lg:mt-0
    ">
      <li class="text-app-bg hover:text-section-header dark:text-section-border dark:hover:text-editor-toolbar">
        <button
          class="flex gap-2 ml-auto focus:outline-none"
          title="Baixar código"
          @click="downloadFiles"
        >
          <span
            class="lg:hidden font-bold"
          >Download</span>
          <vue-feather type="download" />
        </button>
      </li>
      <li class="text-app-bg hover:text-section-header dark:text-section-border dark:hover:text-editor-toolbar">
        <button
          class="flex gap-2 ml-auto focus:outline-none"
          title="Executar"
          @click="notifyRunner"
        >
          <span
            class="lg:hidden font-bold"
          >Executar</span>
          <vue-feather type="play" />
        </button>
      </li>
    </ul>
  </nav>
</div>
